*{
    color: whitesmoke;
    font-family: Helvetica;
    
}

img{
    width: 20px;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
    background-color: rgb(17, 17, 16);
}
    
nav{
    
    height: 70px;
    width: 100%;
    top: 0;
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: left;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}

nav a{
    display: none;
    padding-left: 30px;
    font-family: helvetica;
    text-decoration: none;
}

/* Adicionar o stick navbar */

  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
  
  }

.wrapper{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}

.sidebar1{
    height: auto;
    margin-top: 20px;
    flex-direction: column;
    min-width: 15rem;
    margin-left: 0px;
    justify-content: center;
    
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* padding-top: 30px; */
    font-size: 11px;
}

.details i{
    left: 0px;
    
}

.profilecontainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: center;
    background-color: rgb(29, 28, 28);
    /* width: 70%; */

    
}

.profilecontainer img{
    margin-bottom: 20px;
    /* height: 190px; */
    width: 70%;
    border-radius: 50%;
}

.news{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 12px;
    align-items: center;
}

.twitter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


.sidebar2{
    display: flex;
    width: 3%;
    height: auto;
    min-width: 4rem;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: center;
}

.sidebar2 i{
    font-size: 35px;
    padding-bottom: 20px;
    

}

.socialbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.mainbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 35rem;
    border-left: 1px solid  rgb(17, 17, 16);
    height: auto;
    
}

.container1{
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(29, 28, 28);
    border-left: 5px solid #c1dff7;
    padding: 12px;
    color: whitesmoke;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(29, 28, 28);
    border-left: 5px solid #c1dff7;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
    align-items: left;
}

topcontainer{
    display: flex;
    flex-direction: left;
    justify-content: left;
    align-items: center;
    width: 100%;
    right: 0;
    background-color: rgb(29, 28, 28);
}

.container2 i{
    
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    text-decoration: none;
}

.logo{
    width: 60px;
    height: 60px;
    text-decoration: none;
    padding-left: 30px;
}

.badges{
    display: flex;
    font-size: 5px;
    text-decoration: none;
    
}

.container3{
    width: 90%;
    height: 40rem;
    /* height: auto; */
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(29, 28, 28);
    border-left: 5px solid #c1dff7;
    padding: 12px;
    color: whitesmoke;
}



footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    padding-top: 10px;
    font-size: 11px;
}


@media (max-width: 850px){
    .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .sidebar1{
        margin-top: 0px;
        min-width: 15rem;
        margin-left: 0px;
        width: 100%;
}

    .news{
        display: none;
    }

    .twitter{
        display: none;
    }

    .mainbar{
        min-width: 15rem;
        width: 100;
        border-left: 1px solid  rgb(17, 17, 16);
    }

    .container1{
        width: 100%;
        height: 16rem;
        margin-top: 5px;
        margin-left: 0px;
        padding: 5px;
    }
    
    .container2{
        height: auto;
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
        padding: 5px;

    }

    .container3{
 
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 0px;
        padding: 5px;
    }

      
    .socialbar{
        flex-direction: row;
    }

    .socialbar i{
        padding-left: 13px;
        color: white;
    }

    .profilecontainer img{
        margin-bottom: 0px;
        width: 40%;
    
    }

    .profilecontainer{
        width: 100%;
        margin-right: 0;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }


}